.containerCreate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 507px;
    padding: 10px;
}
.text{
    background-color: rgba(0,0,0,0.5);
    color: #42f647;
    font-size: 2.5rem;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cardContainer{
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.label{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #42f647;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton{
    border: 3px solid #42f647;
    border-radius: 10px;
    background-color: black;
    color: #42f647;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton:hover{
    background-color: #42f647;
    color: black;
}