nav {
    display: flex;
    align-items: center;
    width: 97.60%;
    height: 50px;
    background-color: #42f647;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}
nav h1{
    font-family: 'Rubik Microbe', cursive;
    font-size: 4rem;
    margin-left: 390px;
}

.burger-menu {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    cursor: pointer;
}

.burger-bar {
    width: 40px;
    height: 0.4em;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5em;
}

.menu {
    width: 200px;
    height: 135px;
    background-color: #42f647;
    position: absolute;
    margin-top: 0;
    z-index: 1000;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 12px 13px -4px rgba(88,255,59,0.75);
    -webkit-box-shadow: 0px 12px 13px -4px rgba(88,255,59,0.75);
    -moz-box-shadow: 0px 12px 13px -4px rgba(88,255,59,0.75);
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.liContainer{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 180px ;
    display: flex;
    flex-direction: column;
}
.textLink{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    font-size: 1.2rem;
}
.link{
    border-bottom: 2px solid black;
}
.link:hover{
    background-color: rgb(27, 119, 4);
}
